<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    <div id="mastheadbackground"></div>
    <section id="posts">
    <div id="masthead">
        <h1><a href="/">Bojordan.com</a></h1>
        <div>
            <p id="description">
                Thoughts and tales of tinkering
            </p>

            <nav>
                <a href="/about">About</a>
            </nav>
        </div>
    </div>
    {{ content }}
    </section>
    <div class="wrapper-footer">
        <div class="container">
            <footer class="footer"></footer>
        </div>
    </div>
  </body>
</html>